.add{
    width: 50%;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.btns{
    display: flex;
    justify-content: end;
    column-gap: 20px;
}