.add{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 60px;
}
.btns{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}