.sts{
    row-gap: 20px;
}
.sts_h1 {
    border-radius: 10px;
    background-color: #FEE3E5;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.sts_h2 {
    border-radius: 10px;
    background-color: #FEF4DE;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.sts_h3 {
    border-radius: 10px;
    background-color: #DDFCE6;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.sts_h4 {
    border-radius: 10px;
    background-color: #F2E8FF;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.img_h1 {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #F95D7F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_h2 {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #F8957C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_h3 {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #3DD856;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_h4 {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #BF83FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i_m_g{
    width: 80%;
}