.GS{
    display: flex;
    text-align: center;
}
.GS .gaming{
    color: black;
    font-weight: bold;
}
.GS .store{
    text-align: center;
    background-color: black;
    width: 80px;
    color: white;
    font-weight: bold;
}
.s{
    height: 500px;
}
.con{
    width: 40rem;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.con .h1{
    width: 40rem;
}
.con .discover_now{
    width: 130px;
    height: 56px;
    background-color: #4B47FC;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.product{
    text-align: center;
    box-shadow: 0px 0px 12px 0px rgb(104, 104, 104);
    width: 300px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
}
.product img{
    width: 80%;
    margin: 0 auto;
}
.ctr{
    margin-top: 10rem;
}
.row{
    row-gap: 10rem;
}