.GS{
    display: flex;
    text-align: center;
}
.GS .gaming{
    color: black;
    font-weight: bold;
}
.GS .store{
    text-align: center;
    background-color: black;
    width: 80px;
    color: white;
    font-weight: bold;
}
.s{
    height: 500px;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.container1 .h1{
    width: 38rem;
}
.container1 .discover_now{
    width: 130px;
    height: 56px;
    background-color: #4B47FC;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.product{
    text-align: center;
    box-shadow: 0px 0px 12px 0px rgb(104, 104, 104);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 0.5rem;
}
.product img{
    width: 80%;
    margin: 0 auto;
}
.ctr{
    margin-top: 10rem;
}
.row{
    row-gap: 8rem;
}
.row .product_con{
    display: flex;
    justify-content: center;
}
.footer{
    margin-top: 100px;
    height: 500px;
}
.footer{
    padding-top: 40px;
}
.footer .letter{
    background-color: #4B47FC;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.footer .letter .send_email input{
    height: 36px;
    border-radius: 8px;
    border: none;
    outline: 1px solid white;
    margin-right: 10px;
    padding-left: 10px;
    width: 220px;
    background-color: #9997FF;
    color: white;
}
.footer .letter .subscribe{
    border: none;
    background-color: white;
    border-radius: 8px;
    color: #4B47FC;
    width: 90px;
    height: 36px;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.img{
    background-color: white;
    width: 76px;
    height: 76px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 80%;
    height: 80%;
}
.f_d_c h3{
    color: #E6E6E6;
}
.f_d_c p{
    color: white;
}
.footer_down{
    margin-top: 80px;  
}
@media (max-width:740px) {
    .container1{
        margin-top: -120px;
        text-align: center;
    }
    .container1 .h1{
        font-size: 26px;
        width: 30rem;
    }
    .footer{
        height: 780px;
    }
.footer .letter .send_email{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.row1{
    row-gap: 20px;
}
}